<section class="px-8 pt-10">
    <h2 class="text-center text-4xl font-bold">My blog posts</h2>
   
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl mx-auto mt-12">
       {% import 'sections/service-macro2.njk' as macro %}
 
       {{ macro.service('shadow-sm', 'bg-cyan-300', 'Blog 1', 'DEVELOPER BLOG 1: CLI SCRIPT ') }}


       {{ macro.service('shadow-lg', 'bg-pink-300', 'Blog 2', 'DEVELOPER BLOG 2: FRAMEWORK.') }}
 
       {{ macro.service('shadow-sm', 'bg-purple-300', 'Blog 3', 'DEVELOPER BLOG 3: CMS / SSG. ' ) }}
    </div>
    
 </section>
 <br>